<div class="container-fluid">
  <div class="row justify-content-center gx-0 desktop-row-height mb-4">
    <div class="col-10 col-md-12 d-flex align-items-center mobile-width-mitglieder">
      <div class="card w-100 shadow-lg p-4 align-items-center">
        <h2>Teilnehmer*in</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Geburtsdatum</th>
              <th>Kurs</th>
              <th>Datum
                <button (click)="sortDate('asc')" type="button" class="btn btn-secondary btn-sm me-2 mb-2">▲</button>
                <button (click)="sortDate('desc')" type="button" class="btn btn-secondary btn-sm me-2 mb-2">▼</button>
              </th>
              <th>Aktion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registration of storeService.registrations; let i = index" [class.loading-row]="loading[i]">
              <td lang="de">{{registration.name}}</td>
              <td lang="de">{{registration.birthdate}}</td>
              <td lang="de">{{registration.course.name}}</td>
              <td lang="de">{{registration.date}}</td>
              <td lang="de">
                <button (click)="deleteButton(registration.id, i)" type="button" class="btn btn-secondary btn-sm me-2 mb-2" [disabled]="loading[i]">Abmelden</button>
                <div class="overlay" *ngIf="loading[i]">
                  <mat-spinner diameter="20"></mat-spinner>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-start">
          <button type="button" id="pageButton" class="btn btn-secondary btn-sm me-2 mb-2"
            [ngClass]="{'active': page === storeService.currentPage}" (click)="selectPage(page)"
            *ngFor="let page of returnAllPages()">
            {{page}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center gx-0 desktop-row-height mb-4">
      <div class="col-10 col-md-12 d-flex align-items-center mobile-width-kurs">
        <div class="card w-100 shadow-lg p-4">
          <div class="table-responsive d-none d-md-block text-center">
            <h1 style="color: #3F51B5!important">Kurse</h1>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th lang="de">Kurs</th>
                  <th lang="de">Veranstaltungsort</th>
                  <th lang="de">Adresse des Veranstaltungsortes</th>
                  <th lang="de">Öffentlich erreichbar?</th>
                  <th lang="de">Kursleiter</th>
                  <th lang="de">Alle Termine</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of storeService.courses">
                  <td lang="de">{{course.name}}</td>
                  <td lang="de">{{course.eventLocation.name}}</td>
                  <td lang="de">{{course.eventLocation.address}}</td>
                  <td lang="de">{{course.eventLocation.venueByPublicTansport ? "Ja" : "Nein"}}</td>
                  <td lang="de">{{course.instructor}}</td>
                  <td lang="de">
                    <ul class="list-unstyled mb-0">
                      <li *ngFor="let date of course.dates">
                        <span>{{date.begin | date:"MMM dd, yyyy 'um' hh:mm a"}}</span> -
                        <span>{{date.end | date:"MMM dd, yyyy 'um' hh:mm a"}}</span>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-md-none">
            <div class="text-center">
              <h1 style="color: #3F51B5!important">Kurse</h1>
            </div>
            <div class="row mb-3" *ngFor="let course of storeService.courses">
              <div class="col-12">
                <div class="card p-3 shadow-sm">
                  <p><strong>Kurs:</strong> {{course.name}}</p>
                  <p><strong>Veranstaltungsort:</strong> {{course.eventLocation.name}}</p>
                  <p><strong>Adresse:</strong> {{course.eventLocation.address}}</p>
                  <p><strong>Öffentlich erreichbar?:</strong>
                    {{course.eventLocation.venueByPublicTansport ? "Ja" : "Nein"}}</p>
                  <p><strong>Kursleiter:</strong> {{course.instructor}}</p>
                  <p><strong>Alle Termine:</strong></p>
                  <ul class="list-unstyled">
                    <li *ngFor="let date of course.dates">
                      <span>{{date.begin | date:"MMM dd, yyyy 'um' hh:mm a"}}</span> -
                      <span>{{date.end | date:"MMM dd, yyyy 'um' hh:mm a"}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>