button.active {
    background-color: #3F51B5!important;
    border-color: #3F51B5;
}

#pageButton {
    max-width: 30px;
}

button {
    display: inline-block;
}

table {
    table-layout: fixed;
}

.card {
    width: 100%;
    max-width: 100%;
}

.desktop-row-height {
    min-height: 80px;
    display: flex;
    align-items: center;
}
  
.card p {
margin: 0;
font-size: 0.9rem;
}

.mobile-width-kurs {
    min-width: 300px!important;
}

.mobile-width-mitglieder {
    min-width: 300px!important;
    max-width: 50%;
} 

@media only screen and (max-width: 768px) { 
    .mobile-width {
        min-width: fit-content;
        max-width: 90%;
    } 
}