.flex {
    display: flex;
}

img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

#mainButton {
    width: 30%;
    text-align: center;  
    min-width: 120px;
    white-space: nowrap;
    background-color: #3F51B5;
    border-color: #3F51B5;
}

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #3F51B5 29%,
    #E91E63 67%,
    #FFC107 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}